h1{
    text-align: center;
}

p{ 
 text-align: center;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width:90%;
   
}
time{
    border: 2px; solid #000000;
   text-align: center;
    width:100%;
}
body{
    background-color: #6cf94a;
}